//Стили для файла с примером Html-фрагмента
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

//Стили для обнуления верхних отступов у элементов
h1,
h2,
h3,
p{
  margin: 0;
}

//Обнуление бызовых стилей у списков
ol,
ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}

//Обнуление бызовых стилей у ссылок
a {
  text-decoration: none;
  color: inherit;
}

//Корректное отображение картинок
img {
  display: block;
  max-width: 100%;
  height: auto;
}